html, body {
    overflow: hidden;
}

body {
    position: fixed;
    background: #000;
    color: red;
    font-family: monospace;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
}

.canvases {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
}

canvas {
    max-width: 100%;
    height: auto;
    border: 2px solid red;
}

.controls {
    margin-bottom: 30px;

    button {
        font-family: monospace;
        border: 2px solid red;
        background: #000;
        color: red;
        font-weight: bold;
        padding: 10px 20px;
        margin: 0 10px;
        cursor: pointer;
        transition: 0.05s ease-in-out all;

        &:hover {
            background: red;
            color: #000;
        }
    }
}

p {
    max-width: 500px;
    text-align: center;
}